register
<form [formGroup]="register" (ngSubmit)="onRegisterSubmitted(register)">
  <div>
    <mat-form-field appearance="fill"
      ><mat-label>Name</mat-label
      ><input
        matInput
        type="text"
        placeholder="Name"
        formControlName="name"
        required
      /><mat-error *ngIf="register.get('name')!.invalid"
        >Name is invalid</mat-error
      ></mat-form-field
    >
  </div>
  <div>
    <mat-form-field appearance="fill"
      ><mat-label>Email</mat-label
      ><input
        matInput
        type="email"
        placeholder="Email"
        formControlName="email"
        required
      /><mat-error *ngIf="register.get('email')!.invalid"
        >email is invalid</mat-error
      ></mat-form-field
    >
  </div>
  <div>
    <mat-form-field appearance="fill"
      ><mat-label>Password</mat-label
      ><input
        matInput
        type="password"
        placeholder="Password"
        formControlName="password"
        required
      /><mat-error *ngIf="register.get('password')!.invalid">{{
        getPasswordError(register.get("password")?.errors!)
      }}</mat-error></mat-form-field
    >
  </div>
  <div>
    <mat-form-field appearance="fill"
      ><mat-label>Repeat Password</mat-label
      ><input
        matInput
        type="password"
        placeholder="Confirm password"
        formControlName="confirmPassword"
        required
      /><mat-error *ngIf="register.get('confirmPassword')!.invalid"
        >Repeated password is invalid</mat-error
      ></mat-form-field
    >
  </div>
  <div *ngIf="register.hasError('crossValidator')">
    Passwords must be the same!
  </div>
  <div>
    <mat-error *ngIf="register.hasError('backenderror')">{{
      register.getError("backenderror")
    }}</mat-error>
  </div>
  <mat-checkbox formControlName="isChecked">Terms and conditions</mat-checkbox>
  <div>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="!register.valid"
    >
      Submit
    </button>
  </div>
</form>
