login
<form [formGroup]="login" (ngSubmit)="onLoginSubmitted(login)">
  <div>
    <mat-form-field appearance="fill"
      ><mat-label>Email</mat-label
      ><input
        matInput
        type="email"
        placeholder="Email"
        formControlName="email"
      /><mat-error *ngIf="login.get('email')!.invalid"
        >email is invalid</mat-error
      ></mat-form-field
    >
  </div>
  <div>
    <mat-form-field appearance="fill"
      ><mat-label>Password</mat-label
      ><input
        matInput
        type="password"
        placeholder="Password"
        formControlName="password"
      /><mat-error *ngIf="login.get('password')!.invalid"
        >password is invalid</mat-error
      ></mat-form-field
    >
  </div>
  <div *ngIf="login.hasError('backenderror')">
    {{ login.getError("backenderror") }}
  </div>
  <div>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="!login.valid"
    >
      Submit
    </button>
  </div>
</form>
